/* Source */
@font-face {
  font-family: 'Poppins';
  src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(/assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
/* Header Footer*/
* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
body {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-btn::after {
  content: url(/assets/img/down-arrow.png);
  vertical-align: middle;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  opacity: 0.9;
  z-index: 100;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.cover.active-drop-language {
  color: transparent;
  z-index: 100;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.cover.active-drop-category {
  color: transparent;
  z-index: 100;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.cover.active-cart {
  opacity: 0.9;
  z-index: 100;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
#header .logo-mobile {
  text-align: center;
  display: none;
}
#header .header-top {
  font-size: 12px;
  font-weight: 500;
  background-color: #222;
  color: #bababa;
  padding: 18px 0;
  height: 72px;
  box-sizing: border-box;
}
#header .header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-top-inner .web-info {
  display: flex;
  align-items: center;
}
#header .header-top-inner .web-info-btn {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
#header .header-top-inner .web-info-btn .info-icon {
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #0ca8c9;
  color: #0ca8c9;
  margin-right: 10px;
}
#header .header-top-inner .web-info-btn .info-content .description a {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.01em;
  text-decoration: none;
}
#header .header-top-inner .sl-language img {
  width: 17px;
  vertical-align: middle;
  padding-right: 10px;
}
#header .header-top-inner .sl-language .dropdown-btn::after {
  margin-inline-start: 24px;
}
#header .header-top-inner .sl-language .dropdown-opt,
#header .header-top-inner .sl-language a {
  color: #bababa;
  text-decoration: none;
}
#header .header-top-inner .sl-language .dropdown-opt:hover,
#header .header-top-inner .sl-language a:hover {
  background-color: #fff;
  color: #000;
}
#header .header-top-inner .sl-language .dropdown-opt:hover a,
#header .header-top-inner .sl-language a:hover a {
  color: #000;
}
#header .header-bot {
  padding-top: 26px;
  padding-bottom: 27px;
}
#header .header-bot-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-bot-inner .logo {
  height: 46px;
}
#header .header-bot .form-control {
  display: flex;
  align-items: center;
}
#header .header-bot .form-control .search {
  width: 556px;
}
#header .header-bot .form-control .search form {
  height: 38px;
  border: 1px solid #bababa;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
}
#header .header-bot .form-control .search form .search-sl {
  line-height: 38px;
  padding-left: 21px;
  padding-right: 32px;
}
#header .header-bot .form-control .search form .search-sl select {
  border: none;
  height: 24px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/assets/img/down-arrow.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  padding-right: 27px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: #8f8f8f;
}
#header .header-bot .form-control .search form .search-input {
  flex: 1;
  line-height: 38px;
}
#header .header-bot .form-control .search form .search-input input {
  width: 100%;
  border: none;
  height: 24px;
  border-left: 1px solid #e0e0e0;
  padding-left: 19px;
}
#header .header-bot .form-control .search form .search-input input::placeholder {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.01em;
}
#header .header-bot .form-control .search form .search-btn button {
  border: none;
  background-color: #0ca8c9;
  color: #fff;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  width: 57px;
  text-align: center;
}
#header .header-bot .form-control .control-item {
  color: #0ca8c9;
  font-size: 26px;
  margin-left: 20px;
}
#header .header-bot .form-control .control-item i:hover {
  cursor: pointer;
}
#header .header-bot .form-control .cart {
  padding-right: 8px;
  position: relative;
}
#header .header-bot .form-control .cart::after {
  content: attr(data);
  font-size: 10px;
  color: #fff;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 15px;
  background-color: #222;
  position: absolute;
  top: 3px;
  right: 0;
}
.menu-bar {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #0ca8c9;
  padding: 14px 0;
}
.menu-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar-inner .menu-category {
  z-index: 20;
  text-transform: uppercase;
}
.menu-bar-inner .menu-category .dropdown-btn::after {
  content: none;
}
.menu-bar-inner .menu-category .dropdown-btn:hover {
  cursor: pointer;
}
.menu-bar-inner .menu-category .dropdown-content {
  background-color: #0ca8c9;
  padding-top: 14px;
  max-width: 1140px;
  width: 100%;
}
.menu-bar-inner .menu-category .dropdown-content a {
  color: #fff;
  text-decoration: none;
}
.menu-bar-inner .menu-category .dropdown-content .dropdown-opt {
  padding: 5px 0;
}
.menu-bar-inner .menu-category .dropdown-content .dropdown-opt:hover {
  background-color: #fff;
}
.menu-bar-inner .menu-category .dropdown-content .dropdown-opt:hover a {
  color: #0ca8c9;
}
.menu-bar-inner .menu-category i {
  padding-right: 15px;
  font-size: 22px;
  vertical-align: bottom;
}
.menu-bar-inner nav .nav-icon {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
}
.menu-bar-inner nav .nav-icon i {
  font-size: 22px;
  vertical-align: bottom;
  padding-left: 15px;
}
.menu-bar-inner nav .navbar .nav-title {
  display: none;
  background-color: #0ca8c9;
  color: #fff;
  line-height: 52px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  padding: 0 15px;
}
.menu-bar-inner nav .navbar li {
  display: inline-block;
  margin-left: 27px;
  margin-right: 28px;
}
.menu-bar-inner nav .navbar li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.menu-bar-inner nav .navbar li:last-child {
  margin-right: 0;
}
/* Content */
.slider .slick-arrow {
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-prev {
  left: 20px;
  z-index: 10;
}
.slider .slick-prev::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  font-size: 31px;
  color: #082b4f;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-prev::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 60px solid #fff;
  border-right: 10px solid transparent;
  position: absolute;
  top: 0;
  right: -10px;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-prev:hover {
  background-color: #0ca8c9;
}
.slider .slick-prev:hover::before {
  color: #fff;
}
.slider .slick-prev:hover::after {
  border-top-color: #0ca8c9;
}
.slider .slick-next {
  right: 20px;
}
.slider .slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 31px;
  color: #082b4f;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-next::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 60px solid #fff;
  border-left: 10px solid transparent;
  position: absolute;
  top: 0;
  left: -10px;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-next:hover {
  background-color: #0ca8c9;
}
.slider .slick-next:hover::before {
  color: #fff;
}
.slider .slick-next:hover::after {
  border-bottom-color: #0ca8c9;
}
.slider-item {
  position: relative;
}
.slider-item img {
  width: 100%;
}
.slider-content {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.slider-content-inner {
  width: calc(100% / 12 * 7);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.slider-content-inner .slide-title {
  font-size: 70px;
  font-weight: 500;
  color: #000;
  line-height: 90px;
  letter-spacing: 0.01em;
}
.slider-content-inner .slide-title span {
  color: #0ca8c9;
}
.slider-content-inner .slide-summary {
  padding-top: 15px;
  padding-bottom: 45px;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 500;
}
.slider-content-inner .slide-btn {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #0ca8c9;
}
.strength {
  padding-top: 15px;
  height: 133px;
  display: flex;
  align-items: center;
}
.strength-item {
  width: calc(100% / 12 * 3);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.strength-item .item-icon img {
  vertical-align: middle;
}
.strength-item .item-content {
  padding-left: 20px;
}
.strength-item .item-content .title {
  font-weight: 600;
  color: #000;
}
.strength-item .item-content .detail {
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
}
.banner span {
  color: #0ca8c9;
}
.banner .title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.banner .detail {
  font-size: 18px;
  font-weight: 500;
  color: #8f8f8f;
  letter-spacing: -0.3px;
}
.banner-left {
  overflow: hidden;
  position: relative;
  width: calc(100% / 12 * 7);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.banner-left-inner {
  height: 100%;
}
.banner-left img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-left-detail {
  position: absolute;
  left: 50%;
  bottom: 34px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
}
.banner-left-detail .banner-countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.banner-left-detail .banner-countdown span {
  font-size: 21px;
  width: 100%;
  margin-bottom: -22px;
}
.banner-left-detail .banner-countdown .times {
  font-size: 12px;
  font-weight: 600;
  width: 60px;
  height: 62px;
  text-transform: uppercase;
  background-color: #fff;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.banner-left-detail .banner-left-content {
  line-height: 34px;
}
.banner-right {
  width: calc(100% / 12 * 5);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.banner-right .banner-col {
  margin: -15px 0;
}
.banner-right-item {
  overflow: hidden;
  position: relative;
  font-weight: 600;
  padding: 15px 0;
}
.banner-right-item img {
  display: block;
  width: 100%;
}
.banner-right-item .banner-right-content {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner-right-item .banner-right-content .sale-num {
  font-size: 59px;
  line-height: 50px;
}
.banner-right-item .banner-right-content .title-discount {
  font-size: 24px;
}
.banner-right-item .content-bot {
  line-height: 33px;
}
.top-selling {
  font-weight: 600;
  color: #000;
}
.top-selling .add-to-cart {
  width: calc(100% / 12 * 12);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transform: translateY(-110%);
  -webkit-transform: translateY(-110%);
  -moz-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  -o-transform: translateY(-110%);
  position: fixed;
  background-color: transparent;
  top: 0;
  z-index: 999;
  height: 60vh;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-selling .add-to-cart .my-cart {
  width: 60%;
  background-color: #fff;
}
.top-selling .add-to-cart .my-cart .title {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.top-selling .active-cart {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.top-selling .slide-selling .slick-arrow {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.top-selling .slide-selling .slick-prev {
  left: auto;
  top: -70px;
  right: 50px;
  z-index: 10;
}
.top-selling .slide-selling .slick-prev::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  font-size: 31px;
  color: #cfcfcf;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.top-selling .slide-selling .slick-prev:hover::before {
  color: #0ca8c9;
}
.top-selling .slide-selling .slick-next {
  right: 0;
  top: -70px;
  z-index: 10;
}
.top-selling .slide-selling .slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 31px;
  color: #cfcfcf;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.top-selling .slide-selling .slick-next:hover::before {
  color: #0ca8c9;
}
.top-selling-place {
  position: relative;
  font-size: 90px;
  color: #f5f5f5;
  line-height: 90px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 19px;
}
.top-selling-heading {
  position: absolute;
  font-size: 42px;
  line-height: 42px;
  color: #000;
  text-transform: uppercase;
  bottom: 24px;
  letter-spacing: 0.01em;
}
.top-selling-item {
  width: calc(100% / 12 * 3);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  margin: 27px 0;
}
.top-selling-item img {
  width: 100%;
}
.top-selling-item:hover img {
  opacity: 0.8;
  cursor: pointer;
}
.top-selling-item:hover .title {
  color: #0ca8c9;
  cursor: pointer;
}
.top-selling-item:hover .cost,
.top-selling-item:hover .cost-discount {
  cursor: pointer;
}
.top-selling-content {
  font-size: 14px;
  color: #000;
  text-align: center;
  letter-spacing: 0.015em;
  margin-top: 7px;
}
.top-selling-content .title {
  padding: 9px 0;
  line-height: 21px;
}
.top-selling-content .cost {
  font-size: 13px;
  color: #0ca8c9;
  letter-spacing: 0.1px;
}
.top-selling-content .cost-discount {
  display: flex;
  justify-content: center;
  letter-spacing: 0.1px;
}
.top-selling-content .cost-discount .discount {
  text-decoration: line-through;
  color: #696969;
  padding: 0 10px;
  font-size: 13px;
}
.news {
  margin-top: 30px;
  padding: 80px 0;
  background: url('/assets/img/background_news.jpg') top center / cover no-repeat;
}
.news-place {
  text-align: center;
  position: relative;
  font-size: 90px;
  font-weight: 600;
  color: #ebebeb;
  line-height: 90px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 32px;
}
.news-heading {
  position: absolute;
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
.news-item {
  width: calc(100% / 12 * 4);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.news-item img {
  display: block;
  width: 100%;
}
.news-item img:hover {
  cursor: pointer;
  opacity: 0.9;
}
.news-item-content {
  letter-spacing: 0.02em;
}
.news-item-content .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
  padding-top: 25px;
  padding-bottom: 8px;
  word-break: break-word;
}
.news-item-content .title:hover {
  cursor: pointer;
  color: #0ca8c9;
}
.news-item-content .time {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #8f8f8f;
}
.news-item-content .time a {
  color: #0ca8c9;
  text-decoration: none;
}
.newsletter {
  background-color: #222;
}
.newsletter-inner {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}
.newsletter-title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 26px;
}
.newsletter-detail {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 55px;
  letter-spacing: 0.01em;
}
.newsletter-control {
  display: flex;
  justify-content: center;
}
.newsletter-control .newsletter-input {
  width: 770px;
}
.newsletter-control .newsletter-input form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 70px;
  overflow: hidden;
}
.newsletter-control .newsletter-input form .email-input {
  flex: 1;
  line-height: 68px;
}
.newsletter-control .newsletter-input form .email-input input {
  font-family: 'Poppins';
  font-weight: 500;
  width: 100%;
  border: none;
  height: 50px;
  margin: 0 20px;
  padding: 0 10px;
}
.newsletter-control .newsletter-input form .email-input input::placeholder {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
}
.newsletter-control .newsletter-input form .email-btn {
  margin-right: 7px;
}
.newsletter-control .newsletter-input form .email-btn button {
  border: none;
  background-color: #0ca8c9;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  padding: 0 53px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-radius: 58px;
  text-transform: uppercase;
}
.brands {
  background-color: #fff;
  padding-top: 41px;
  padding-bottom: 37px;
}
.brands-item {
  width: calc(100% / 12 * 2.4);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
#footer .footer-top {
  background-color: #f2f2f2;
  padding-top: 37px;
  padding-bottom: 5px;
}
#footer .footer-top-item {
  width: calc(100% / 12 * 3);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
#footer .footer-top-item .title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
#footer .footer-top-item .detail {
  font-size: 13px;
  font-weight: 500;
  line-height: 39px;
  margin-top: 19px;
  margin-bottom: 30px;
}
#footer .footer-top-item .detail a {
  color: #8f8f8f;
  text-decoration: none;
}
#footer .footer-top-item .detail-btn {
  display: flex;
}
#footer .footer-top-item .detail-btn .icon {
  font-size: 16px;
  line-height: 22px;
  color: #0ca8c9;
  padding-right: 22px;
}
#footer .footer-top-item .detail-btn .mobile-icon {
  padding-left: 3px;
}
#footer .footer-top-item .detail-btn .mail-icon i {
  vertical-align: bottom;
}
#footer .footer-top-item .detail-btn .text {
  word-break: break-all;
  letter-spacing: 0.02em;
}
#footer .footer-top-item .detail-btn .lh-20 {
  line-height: 20px;
}
#footer .footer-top-item .detail-btn:hover a {
  color: #0ca8c9;
}
#footer .footer-top-item .detail-item:hover a {
  color: #0ca8c9;
}
#footer .footer-top-item .social {
  margin-left: -10px;
}
#footer .footer-top-item .social .icon {
  font-size: 13px;
  line-height: 30px;
  color: #8f8f8f;
  padding: 0 10px;
}
#footer .footer-top-item .social .icon:hover {
  color: #0ca8c9;
}
#footer .footer-top-item .inner {
  width: calc(100% / 12 * 8);
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  margin: 0;
  margin-left: auto;
  margin-right: 3px;
}
#footer .footer-top-item .inner .detail {
  margin-top: 8px;
  line-height: 36px;
}
#footer .footer-bot {
  padding: 10px 0;
}
#footer .footer-bot-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer-bot-inner .copyright {
  font-size: 12px;
  font-weight: 500;
  color: #8f8f8f;
  letter-spacing: 0.01em;
}
#footer .footer-bot-inner .copyright span {
  color: #0ca8c9;
}
#footer .footer-bot-inner .payments {
  display: flex;
  margin-right: -14px;
}
#footer .footer-bot-inner .payments-item {
  padding: 0 14px;
}
#footer .footer-bot-inner .payments img {
  display: block;
  width: 48px;
}
/* Responsive */
@media all and (max-width: 1170px) {
  #menubar .menu-bar-inner .menu-category .dropdown-content {
    max-width: 97%;
    width: 100%;
  }
  .slider-content {
    top: 20%;
  }
  .slider-content-inner {
    margin-left: 100px;
  }
  .slider-content-inner .slide-title {
    font-size: 60px;
  }
}
@media all and (max-width: 1024px) {
  #header .logo-mobile {
    display: block;
  }
  #header .header-top-inner .web-info-btn {
    margin: 0;
  }
  #header .header-top-inner .web-info-btn .info-content {
    display: none;
  }
  #header .header-top-inner .sl-language .dropdown-content {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    display: none;
  }
  #header .header-top-inner .sl-language .dropdown .active-drop-language {
    display: block;
  }
  #header .header-bot-inner .logo {
    display: none;
  }
  #header .header-bot .form-control {
    width: 100%;
  }
  #header .header-bot .form-control .search {
    width: 100%;
    order: 2;
  }
  #header .header-bot .form-control .setting {
    order: 1;
    margin-left: 0;
    margin-right: 20px;
  }
  #header .header-bot .form-control .cart {
    order: 3;
  }
  #menubar .menu-bar-inner .menu-category .dropdown-content {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    display: none;
  }
  #menubar .menu-bar-inner .menu-category .dropdown .active-drop-category {
    display: block;
  }
  #menubar .menu-bar-inner nav {
    margin-left: auto;
  }
  #menubar .menu-bar-inner nav .nav-icon {
    display: block;
  }
  #menubar .menu-bar-inner nav .navbar {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    height: 100vh;
    width: 30vw;
    -webkit-box-shadow: -10px 10px 8px -5px #bbbbbb;
    -moz-box-shadow: -10px 10px 8px -5px #bbbbbb;
    box-shadow: -10px 10px 8px -5px #bbbbbb;
  }
  #menubar .menu-bar-inner nav .navbar .nav-title {
    display: block;
  }
  #menubar .menu-bar-inner nav .navbar li {
    display: block;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #bbb;
  }
  #menubar .menu-bar-inner nav .navbar li a {
    color: #0ca8c9;
  }
  #menubar .menu-bar-inner nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .slider-content {
    top: 15%;
  }
  .slider-content-inner .slide-title {
    font-size: 40px;
    line-height: 50px;
  }
  .strength-item {
    width: calc(100% / 12 * 6);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .banner .title {
    font-size: 22px;
  }
  .banner .detail {
    font-size: 14px;
  }
  .banner-left-detail {
    bottom: 30px;
  }
  .banner-left-detail .banner-countdown {
    margin-bottom: 10px;
  }
  .banner-left-detail .banner-left-content {
    line-height: 24px;
  }
  .banner-right-item .banner-right-content .sale-num {
    font-size: 50px;
    line-height: 40px;
  }
  .banner-right-item .banner-right-content .title-discount {
    font-size: 20px;
  }
  .top-selling-content {
    font-size: 12px;
  }
  .top-selling-content .cost {
    font-size: 11px;
  }
  .top-selling-content .cost-discount .discount {
    font-size: 11px;
  }
  .newsletter-control {
    margin: 0 15px;
  }
  .brands .center-item {
    justify-content: center;
  }
  .brands-item {
    width: calc(100% / 12 * 4);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
    text-align: center;
  }
  #footer .footer-top-item .detail {
    line-height: 20px;
  }
  #footer .footer-top-item .detail-btn .icon {
    padding-right: 18px;
  }
  #footer .footer-top-item .inner {
    width: 100%;
    padding: 0;
  }
}
@media all and (max-width: 896px) {
  #menubar .menu-bar-inner .menu-category .dropdown-content {
    max-width: 96%;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  #menubar .menu-bar-inner .menu-category .dropdown-content {
    max-width: 96%;
    width: 100%;
  }
  #menubar .menu-bar-inner nav .navbar {
    height: 100vh;
    width: 40vw;
  }
  .slider-content {
    top: 15%;
  }
  .slider-content-inner {
    margin-left: 60px;
  }
  .slider-content-inner .slide-title {
    font-size: 30px;
    line-height: 40px;
  }
  .slider-content-inner .slide-summary {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .slider-content-inner .slide-btn {
    font-size: 12px;
  }
  .strength-item .item-content {
    font-size: 14px;
  }
  .strength-item .item-content .detail {
    font-size: 12px;
  }
  .banner-left {
    width: 100%;
  }
  .banner-left-detail {
    bottom: 40px;
  }
  .banner-left-detail .banner-countdown {
    margin-bottom: 25px;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right .banner-col {
    display: flex;
    margin: 0 -15px;
  }
  .banner-right-item {
    padding: 0 15px;
  }
  .top-selling-place {
    font-size: 70px;
  }
  .top-selling-heading {
    font-size: 32px;
  }
  .top-selling-item {
    width: calc(100% / 12 * 6);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .top-selling-content {
    font-size: 14px;
  }
  .top-selling-content .cost {
    font-size: 13px;
  }
  .top-selling-content .cost-discount .discount {
    font-size: 13px;
  }
  .news-place {
    font-size: 70px;
  }
  .news-heading {
    font-size: 32px;
  }
  .news-item {
    width: 100%;
  }
  .newsletter-title {
    font-size: 28px;
  }
  .newsletter-control .newsletter-input form .email-btn button {
    padding: 0 35px;
  }
  .brands-item {
    width: calc(100% / 12 * 5);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  #footer .footer-top-item {
    width: calc(100% / 12 * 12);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
    justify-content: center;
  }
  #footer .footer-top .right {
    width: calc(100% / 12 * 4);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  #footer .footer-bot-inner {
    display: block;
    text-align: center;
  }
  #footer .footer-bot-inner .payments {
    justify-content: center;
  }
}
@media all and (max-width: 576px) {
  #header .header-top-inner .sl-language .dropdown-btn::after {
    display: none;
  }
  #header .header-bot .form-control .search form .search-sl {
    display: none;
  }
  #menubar .menu-bar {
    font-size: 12px;
  }
  #menubar .menu-bar-inner .menu-category .dropdown-content {
    max-width: 93.5%;
    width: 100%;
  }
  #menubar .menu-bar-inner .menu-category i {
    font-size: 18px;
  }
  #menubar .menu-bar-inner nav .nav-icon {
    font-size: 12px;
  }
  #menubar .menu-bar-inner nav .nav-icon i {
    font-size: 18px;
  }
  #menubar .menu-bar-inner nav .navbar {
    height: 100vh;
    width: 50vw;
  }
  #menubar .menu-bar-inner nav .navbar .nav-title {
    font-size: 20px;
  }
  .slider-content {
    top: 10%;
  }
  .slider-content-inner {
    width: calc(100% / 12 * 9);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
    margin-left: 15px;
  }
  .slider-content-inner .slide-title {
    font-size: 24px;
    line-height: 25px;
  }
  .slider-content-inner .slide-summary {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 0;
  }
  .slider-content-inner .slide-btn {
    font-size: 8px;
  }
  .strength-item {
    width: calc(100% / 12 * 6);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .strength-item .item-icon img {
    width: 30px;
  }
  .strength-item .item-content {
    padding-left: 14px;
  }
  .strength-item .item-content .title {
    font-size: 12px;
  }
  .strength-item .item-content .detail {
    font-size: 8px;
  }
  .banner .title {
    font-size: 21px;
  }
  .banner-left-detail .banner-countdown {
    margin-bottom: 20px;
  }
  .banner-left-detail .banner-countdown .times {
    width: 50px;
    height: 50px;
    font-size: 10px;
  }
  .banner-left-detail .banner-countdown .times span {
    font-size: 20px;
  }
  .banner-left-detail .banner-left-content {
    line-height: 21px;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right .banner-col {
    display: block;
    margin: -15px 0;
  }
  .banner-right-item {
    padding: 15px 0;
  }
  .banner-right-item .banner-right-content .sale-num {
    font-size: 45px;
  }
  .banner-right-item .banner-right-content .title-discount {
    font-size: 18px;
  }
  .top-selling-place {
    font-size: 44px;
  }
  .top-selling-heading {
    font-size: 24px;
  }
  .top-selling-item {
    width: 100%;
  }
  .top-selling-content {
    font-size: 14px;
  }
  .top-selling-content .cost {
    font-size: 13px;
  }
  .top-selling-content .cost-discount .discount {
    font-size: 13px;
  }
  .news-place {
    font-size: 44px;
  }
  .news-heading {
    font-size: 24px;
  }
  .newsletter-title {
    font-size: 18px;
  }
  .newsletter-detail {
    font-size: 10px;
  }
  .newsletter-control .newsletter-input form {
    height: 58px;
  }
  .newsletter-control .newsletter-input form .email-input {
    line-height: 58px;
  }
  .newsletter-control .newsletter-input form .email-input input {
    height: 48px;
  }
  .newsletter-control .newsletter-input form .email-btn button {
    padding: 0 15px;
    font-size: 13px;
    height: 48px;
    line-height: 48px;
  }
  .brands-item {
    width: calc(100% / 12 * 12);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  #footer .footer-top-item .title {
    font-size: 15px;
  }
  #footer .footer-top-item .detail {
    font-size: 10px;
  }
  #footer .footer-bot-inner .copyright {
    font-size: 10px;
  }
  #footer .footer-bot-inner .payments-item {
    padding: 0 10px;
  }
}
@media all and (max-width: 375px) {
  #menubar .menu-bar-inner .menu-category .dropdown-content {
    max-width: 92%;
    width: 100%;
  }
  .slider-content {
    top: 0;
  }
  .slider-content-inner {
    width: calc(100% / 12 * 9);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
    margin-left: 0;
  }
  .slider-content-inner .slide-title {
    font-size: 20px;
    line-height: 20px;
  }
  .slider-content-inner .slide-summary {
    font-size: 10px;
  }
  #footer .footer-top-item .title {
    font-size: 12px;
  }
  #footer .footer-top-item .detail {
    font-size: 8px;
  }
  #footer .footer-bot-inner .copyright {
    font-size: 8px;
  }
  #footer .footer-bot-inner .payments img {
    width: 32px;
  }
}
/*# sourceMappingURL=style.css.map */