.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    opacity: 0;
    z-index: -1;
}
.cover.active {
    opacity: 0.9;
    z-index: 100;
    .transition(all, .5s);
}

#header {
    // Logo Mobile
    .logo-mobile {
        text-align: center;
        display: none;
    }
    // Header
    .header {
        // Header-Top
        &-top {
            font-size: 12px;
            font-weight: 500;
            background-color: @color-222;
            color: @color-bababa;
            padding: 18px 0;
            height: 72px;
            box-sizing: border-box;
            &-inner {
                .flex();
                .web-info {
                    display: flex;
                    align-items: center;
                    &-btn {
                        display: flex;
                        align-items: center;
                        margin-right: 22px;
                        .info-icon {
                            font-size: 16px;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border: 1px solid @color-0ca8c9;
                            color: @color-0ca8c9;
                            margin-right: 10px;
                        }
                        .info-content {
                            .title {

                            }
                            .description {
                                a {
                                    font-weight: 400;
                                    color: @color-white;
                                    letter-spacing: 0.01em;
                                }
                            }
                        }
                    }
                }
                .sl-language {
                    img {
                        width: 17px;
                        vertical-align: middle;
                        padding-right: 10px;
                    }
                    .dropdown-btn::after {
                        margin-inline-start: 24px;
                    }
                    .dropdown-opt,
                    a {
                        color: @color-bababa;
                        &:hover {
                            background-color: @color-white;
                            color: @color-black;
                        }
                    }
                }
            }
        }
        // Header-Bot
        &-bot {
            padding-top: 26px;
            padding-bottom: 27px;
            &-inner {
                .flex();
                .logo {
                    height: 46px;
                }
            }
            .form-control {
                display: flex;
                align-items: center;
                .search {
                    width: 556px;
                    form {
                        height: 38px;
                        border: 1px solid @color-bababa;
                        display: flex;
                        border-radius: 40px;
                        overflow: hidden;
                        .search-sl {
                            line-height: 38px;
                            padding-left: 21px;
                            padding-right: 32px;
                            select {
                                border: none;
                                height: 24px;
                                .appearance(none);
                                background-image: url(/assets/img/down-arrow.png);
                                background-repeat: no-repeat;
                                background-position-x: right;
                                background-position-y: center;
                                padding-right: 27px;
                                font-family: 'Poppins';
                                font-weight: 500;
                                font-size: 12px;
                                color: @color-8f8f8f;
                            }
                        }
                        .search-input {
                            flex: 1;
                            line-height: 38px;
                            input {
                                width: 100%;
                                border: none;
                                height: 24px;
                                border-left: 1px solid #e0e0e0;
                                padding-left: 19px;
                                &::placeholder {
                                    font-family: 'Poppins';
                                    font-weight: 500;
                                    font-size: 12px;
                                    letter-spacing: 0.01em;
                                }
                            }
                        }
                        .search-btn{
                            button {
                                border: none;
                                background-color: @color-0ca8c9;
                                color: @color-white;
                                font-size: 18px;
                                height: 38px;
                                line-height: 38px;
                                width: 57px;
                                text-align: center;
                            }
                        }
                    }
                }
                .control-item {
                    color: @color-0ca8c9;
                    font-size: 26px;
                    margin-left: 20px;
                }
                .cart {
                    padding-right: 8px;
                    position: relative;
                    &::after {
                        content: attr(data);
                        font-size: 10px;
                        color: @color-white;
                        display: block;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        text-align: center;
                        border-radius: 15px;
                        background-color: @color-222;
                        position: absolute;
                        top: 3px;
                        right: 0;
                    }
                }
            }
        }
    }
}
// Menu Bar
.menu-bar {
    font-size: 14px;
    font-weight: 600;
    color: @color-white;
    background-color: @color-0ca8c9;
    padding: 14px 0;
    &-inner {
        .flex();
        .menu-category {
            .dropdown {
                &-btn::after {
                    content: none;
                }
                &-btn:hover {
                    cursor: pointer;
                }
                &-content {
                    background-color: @color-0ca8c9;
                    padding-top: 14px;
                    max-width: 1140px;
                    width: 100%;
                    a {
                        color: @color-white;
                    }
                    .dropdown-opt {
                        padding: 5px 0;
                        &:hover {
                            background-color: @color-white;
                            a {
                                color: @color-0ca8c9;
                            }
                        }
                    }
                }
            }
            text-transform: uppercase;
            i {
                padding-right: 15px;
                font-size: 22px;
                vertical-align: bottom;
            }
        }
        nav {
            .nav-icon {
                display: none;
                font-size: 14px;
                text-transform: uppercase;
                i {
                    font-size: 22px;
                    vertical-align: bottom;
                    padding-left: 15px;
                }
            }
            .navbar {
                .nav-title {
                    display: none;
                    background-color: @color-0ca8c9;
                    color: @color-white;
                    line-height: 52px;
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 600;
                    padding: 0 15px;
                }
                li {
                    display: inline-block;
                    margin-left: 27px;
                    margin-right: 28px;
                    a {
                        text-transform: uppercase;
                        color: @color-white;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}